<!DOCTYPE html>
<html lang="en">

<head>
    <title>mapbox小小小工具</title>
    <meta charset="utf-8">
    <script src="./libs/vue.js"></script>
    <script src="./libs/element-ui.js"></script>
    <script src="./libs/mapbox-gl-draw.js"></script>
    <script src="./libs/mapbox-gl.js"></script>
    <script src="./libs/turf.min.js"></script>
    <script src="./libs/threebox/threebox.js"></script>
    <link rel='stylesheet' href="./libs/mapbox-gl-draw.css" type='text/css'/>
    <link rel='stylesheet' href="./libs/mapbox-gl.css"/>
    <link rel='stylesheet' href="./libs/theme-chalk_index.css"/>
    <link rel='stylesheet' href="./libs/threebox/threebox.css"/>
    <script src="./libs/mTool.js"></script>
    <style>
        html,
        body,
        #app {
            height: 100%;
            width: 100%;
            overflow: hidden;
            position: relative;
            background-color: #292929;
        }
        .mapboxgl-ctrl-logo, .mapboxgl-ctrl-attrib-inner{
            display: none !important;
        }
        *{
            box-sizing: border-box;
        }

        #map {
            width: 100%;
            height: 100%;
        }

        .rightTopButtons {
            display: flex;
            justify-content: space-between;
        }

        .ctrlPanel {
            position: absolute;
            border-radius: 4px;
            left: 10px;
            top: 10px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 0.25);
            backdrop-filter: blur(6px);
            -webkit-backdrop-filter: blur(6px);
            border: 1px solid rgba(255, 255, 255, 0.18);
            box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
            -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
            -webkit-border-radius: 4px;
            color: rgba(255, 255, 255, 0.75);
            width: 280px;
            /* height: 500px; */
        }

        .panelItem {
            margin-bottom: 5px;
            width: 100%;
        }

        .drawResult {
            position: absolute;
            border-radius: 4px;
            right: 70px;
            top: 10px;
            padding: 8px;
            background-color: rgba(255, 255, 255, 1);
            color: rgba(255, 255, 255, 0.75);
            width: 300px;
            /* height: 200px; */
        }

        .el-slider {
            padding-right: 5px;
            width: calc(58% - 36px);
        }
    </style>
</head>

<body>

<div id="app">
    <div id="map"></div>
    <div class="ctrlPanel">
        <div class="panelItem">
            <el-input class="panelItem" size="mini" placeholder="输入经纬度 用英文逗号,隔开"
                      v-model="lnglatStr"></el-input>
            <div class="panelItem">
                <el-button type="primary" style="width:calc(50% - 8px)" class="panelItem" size="mini" @click="locate">
                    定位
                </el-button>
                <el-button type="primary" style="width:calc(50% - 8px)" class="panelItem" size="mini"
                           @click="removeLocate">清除
                </el-button>
            </div>

        </div>
        <el-divider></el-divider>
        <div class="panelItem">
            <el-input class="panelItem" size="mini" placeholder="输入合法的 styleUrl" v-model="styleValue"></el-input>
            <el-button type="primary" class="panelItem" size="mini" @click="replaceStyle">替换 Style</el-button>
        </div>
        <el-divider></el-divider>
        <div class="panelItem">
            <el-input type="textarea" :rows="6" class="panelItem" size="mini"
                      placeholder="输入合法的 features 数据 (参考右侧生成数据格式)"
                      v-model="drawGeojsonValue"></el-input>
            <div class="panelItem">
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini" @click="drawGeojson">绘制
                </el-button>
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini" @click="clearGeojson(true)">清除
                </el-button>
            </div>
        </div>
        <el-divider></el-divider>
        <div class="panelItem">
            <el-input type="textarea" :rows="2" class="panelItem" size="mini" placeholder="输入合法的 raster tile url"
                      v-model="rasterLayerUrl"></el-input>
            <div class="panelItem">
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini"
                           @click="addRasterLayer">添加栅格Raster
                </el-button>
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini" @click="removeRasterLayer"> 移除
                </el-button>
            </div>
        </div>
        <el-divider></el-divider>
        <div class="panelItem">
            <el-input type="textarea" :rows="2" class="panelItem" size="mini" placeholder="输入合法的 vector tile url"
                      v-model="vectorTileUrl"></el-input>
            <el-input class="panelItem" placeholder="输入 vector 的对应 source-layer"
                      v-model="vectorSourceLayer"></el-input>
            <div class="panelItem">
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini"
                           @click="addVectorLayer">添加矢量Vector
                </el-button>
                <el-button type="primary" style="width:calc(50% - 8px)" size="mini" @click="removeVectorLayer"> 移除
                </el-button>
            </div>
        </div>
    </div>
    <div class="drawResult">
        <el-input style="margin-bottom: 8px;" placeholder="绘制工具最近一条绘制/更新结果" type="textarea" :rows="6"
                  v-model="drawResultText"></el-input>
        <div class="rightTopButtons">
            <el-button type="primary" size="mini" @click="addTerrain">添加地形</el-button>
            <el-button type="primary" size="mini" @click="removeTerrain">删除地形</el-button>

            <el-button type="primary" size="mini" @click="copyResult"> 复制</el-button>
        </div>
    </div>
</div>
<script>
    let map = null, dMap = null, models = {}
    new Vue({
        el: '#app',
        data: function () {
            return {
                visible: false,
                lnglatStr: '',
                drawResultText: '',
                styleValue: '',
                drawGeojsonValue: '',
                rasterLayerUrl: '',
                vectorTileUrl: '',
                vectorSourceLayer: '',
            }
        },
        methods: {
            // 添加地形
            addTerrain() {
                map.setTerrain({'source': 'mapbox-dem', 'exaggeration': 1.5});
            },
            // 删除地形
            removeTerrain() {
                map.setTerrain(null);
            },
            addVectorLayer() {
                if (!map.getSource("vectorSource")) {
                    map.addSource("vectorSource", {
                        type: "vector",
                        tiles: [
                            this.vectorTileUrl,
                        ],
                    });
                }
                if (!map.getLayer("vectorLayer")) {
                    map.addLayer({
                        id: "vectorLayer",
                        type: "circle",
                        source: "vectorSource",
                        "source-layer": this.vectorSourceLayer,
                        paint: {
                            'circle-color': 'red',
                            'circle-radius': 2
                        }
                    });
                }
            },
            removeVectorLayer() {
                map.getLayer("vectorLayer") && map.removeLayer("vectorLayer");
                map.getSource("vectorSource") && map.removeSource("vectorSource");
            },
            addRasterLayer() {
                if (!map.getLayer('customRaster-layer')) {
                    let raster = {
                        "id": 'customRaster-layer',
                        "type": "raster",
                        "source": {
                            "type": "raster",
                            "tiles": [this.rasterLayerUrl],
                            "tileSize": 256
                        }
                    }
                    map.addLayer(raster);
                } else {
                    this.$notify.warning({
                        title: '请先移除已存在栅格图层！'
                    });
                }
            },
            removeRasterLayer() {
                if (map.getLayer('customRaster-layer')) {
                    map.removeLayer('customRaster-layer')
                    map.removeSource('customRaster-layer')
                }
                this.rasterLayerUrl = ''
            },
            clearGeojson(reset) {
                if (map.getLayer('customSource-layer')) {
                    map.removeLayer('customSource-layer')
                    map.removeSource('customSource')
                }
                reset && (this.drawGeojsonValue = '')
            },
            drawGeojson() {
                this.clearGeojson()
                if (this.drawGeojsonValue) {
                    let data = turf.featureCollection(JSON.parse(this.drawGeojsonValue))
                    if (map.getSource('customSource')) {
                        map.getSource('customSource').setData(data)
                    } else {
                        map.addSource('customSource', {
                            type: "geojson",
                            data: data,
                        })
                        if (data.features[0].geometry.type === 'LineString') {
                            map.addLayer(
                                {
                                    id: "customSource-layer",
                                    type: "line",
                                    source: "customSource",
                                    paint: {
                                        'line-color': 'red',
                                        'line-width': 2
                                    },
                                },
                            )
                        }
                        if (data.features[0].geometry.type === 'Polygon') {
                            map.addLayer(
                                {
                                    id: "customSource-layer",
                                    type: "fill",
                                    source: "customSource",
                                    paint: {
                                        'fill-color': 'rgba(243, 15, 53,0.5)',
                                    },
                                },
                            )
                        }
                        if (data.features[0].geometry.type === 'Point') {
                            map.addLayer(
                                {
                                    id: "customSource-layer",
                                    type: "circle",
                                    source: "customSource",
                                    paint: {
                                        'circle-color': 'red',
                                        'circle-radius': 10
                                    },
                                },
                            )
                        }
                    }
                }
            },
            replaceStyle() {
                try {
                    map.setStyle(this.styleValue);
                } catch (error) {
                    this.$notify.error({
                        title: '输入非法！',
                        message: error
                    });
                }
            },
            locate(e) {
                console.log(e);
                try {
                    let point = this.lnglatStr.split(',')
                    map.flyTo({
                        center: point,
                        zoom: 16,
                    })
                    window.addPoint(map, [{lng: point[0], lat: point[1]}], 'sPoint')
                } catch (error) {
                    this.$notify.error({
                        title: '输入非法！',
                        message: error
                    });
                }
            },
            removeLocate() {
                window.removeLayers(map, 'sPoint')
            },
            copyResult() {
                const input = document.createElement('input')
                input.setAttribute('readonly', 'readonly')
                input.setAttribute('value', this.drawResultText)
                document.body.appendChild(input)
                input.setSelectionRange(0, 9999)
                input.select()
                document.execCommand('copy')
                document.body.removeChild(input)
                this.$notify.success({title: '复制成功！'})
            }
        },
        mounted() {
            mapboxgl.accessToken = 'pk.eyJ1IjoibmluZ2x4IiwiYSI6ImNsYnlnM2s2ODBnNmIzcHBpbzY5aDh3bHAifQ.hQL4zLjBss5i4x-zuFp9tg';
            map = new mapboxgl.Map({
                container: 'map', // container ID
                style: 'mapbox://styles/mapbox/satellite-streets-v12', // style URL
                center: [110.70727046509603, 33.05124063231834], // starting position [lng, lat]
                zoom: 2, // starting zoom
                antialias: true,
            });
            var draw = new MapboxDraw({
                displayControlsDefault: false,
                controls: {
                    polygon: true,
                    line_string: true,
                    point: true,
                    trash: true
                }
            });
            map.addControl(draw);
            map.on('load', () => {
                map.on('click', (e) => {
                    console.log('点击经纬度: ',[e.lngLat.lng,e.lngLat.lat])
                    console.log('地图中心点: ',[map.getCenter().lng,map.getCenter().lat]);
                    console.log('bearing: ',map.getBearing());
                    console.log('zoom: ',map.getZoom());
                    console.log('pitch: ',map.getPitch());
                })
                // setTimeout(() => {
                // 	map.flyTo({
                // 		center: [116.15090301724723, 40.006045007062],
                // 		bearing: -73.60786512235785,
                // 		zoom: 14.754889002122209,
                // 		pitch: 70.99850391694255
                // 	})
                // }, 2000)
            })
            map.on('style.load', () => {
                map.addSource('mapbox-dem', {
                    'type': 'raster-dem',
                    'url': 'mapbox://mapbox.mapbox-terrain-dem-v1',
                    'tileSize': 512,
                    'maxzoom': 14
                });
                // add the DEM source as a terrain layer with exaggerated height
                // this.addTerrain()
            })
            map.on('draw.create', (event) => {
                let geojson = JSON.stringify(event.features)
                this.drawResultText = geojson
            });

            // 监听 draw.update 事件
            map.on('draw.update', (event) => {
                let geojson = JSON.stringify(event.features)
                this.drawResultText = geojson
            });
        }
    })
</script>
</body>

</html>